body{
  &.sign-up {
    background: #54819F image-url('signup-blurred-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &.sign-in {
    background: #54819F image-url('signin-blurred-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.input > .error {
  border-radius: 0 0 2px 2px;
}
.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 15px;
  margin-top: 50px;
  i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  form {
    input,
    span {
      height: 50px;
    }
  }
  .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  p {
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%;
  }
}
.alert-box {
  background: #f7f7f7;
  color: #333;
  border: none;
  border-left: 6px solid #008CBA;
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  &.success {
    background: #f7f7f7;
    color: #333;
  }
  &.alert {
    background: #f7f7f7;
    color: #333;
  }
  &.warning {
    background: #f7f7f7;
    color: #333;
  }
  &.info {
    background: #f7f7f7;
    color: #333;
  }
  &.small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    .close {
      font-size: 1.5rem;
    }
  }
  &.large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    .close {
      font-size: 3rem;
    }
  }
  .close {
    font-size: 2rem;
    line-height: 1.25rem;
  }
}
.index-alert {
  position: fixed;
  left: 25%;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  .index-alert {
    left: 0;
  }
  .signup-panel .button {

    // width: 100%;
    // margin-left: 0;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .signup-panel .button {

    // margin-left: 28%;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}
