.alert-box {
  background: #f7f7f7;
  color: #333;
  border: none;
  border-left: 6px solid #008CBA;
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  &.success {
    background: #f7f7f7;
    color: #333;
  }
  &.alert {
    background: #f7f7f7;
    color: #333;
  }
  &.warning {
    background: #f7f7f7;
    color: #333;
  }
  &.info {
    background: #f7f7f7;
    color: #333;
  }
  &.small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    .close {
      font-size: 1.5rem;
    }
  }
  &.large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    .close {
      font-size: 3rem;
    }
  }
  .close {
    font-size: 2rem;
    line-height: 1.25rem;
  }
}
.index-alert {
  position: fixed;
  left: 25%;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  .index-alert {
    left: 0;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
